{% extends 'base.html'%}

<!-- Styles block -->

{% block styles%} {{ super() }}
<link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}"> {% endblock %}
<!-- Content block -->

{% block content %}
<link href="https://fonts.googleapis.com/css?family=Open+Sans|Noto+Serif+KR|Oswald" rel="stylesheet">
<div class="jumbotron mt-0 mb-0" style="text-align: center;
background-color:white; font-family:
'Open Sans', sans-serif;">

    

    <div class="container" id="index-container">
        <div class="row welcome">
            <img src="https://as1.ftcdn.net/jpg/01/35/43/90/500_F_135439064_wSvwEWCuBtr8473smSj9COfOOzCE0svn.jpg">
            <h3 style="font-family: 'Noto Serif KR', sans-serif;">
                You have one minute to impress someone. Use that minute wisely here.

                <br>
                <br>
                <div class="jumbo" style="font-family: 'Oswald', sans-serif;">
                <button type="button" class="btn btn-success btn-lg" style="color: white;"><a href="auth/register">Register An Account</a></button>
                <br>
                <br>
                <button type="button" class="btn btn-success btn-lg text-white"><a href="auth/login">Sign In</a></button>
                 <br>
                <br>
                <button type="button" class="btn btn-success btn-lg"><a href="/pitch/new">Pitch Your Idea</a></button>
                 <br>
                <br>
                <button type="button" class="btn btn-success btn-lg"><a href="{{url_for('main.pitch_list')}}">View Pitches</a></button>
                <br>
                <br>
</div>
            </h3>
        </div>

    </div>
</div>

<div class="jumbotron text-center" id="body" style="text-align: center
background-color white
font-family 'Noto Serif KR', sans-serif">
  
</div>



{% endblock%}
