% extends 'base.html' %} {% import 'bootstrap/wtf.html' as wtf %} {% block content %}

<div class="jumbotron" style="text-align:center; background-color: rgb(255, 255, 255);">
<h1> PITCHES</h1>
<article class="media content-section">
  <div class="media-body">
    <div class="article-metadata">
      <a class="mr-2" href="#">{{ pitch.user_id.username }}</a>
      <small class="text-muted">{{ pitch.time.strftime('%Y-%m-%d') }}</small>

    </div>
    <h2 class="article-title">{{ pitch.title }}</h2>
    <p class="article-content">{{ pitch.content }}</p>
  </div>


</article>


{{wtf.quick_form(pitch_form)}}

  {% for comment in comments[::-1] %}


  <article class="">
  <div class="media-body">
    <div class="article-metadata">
      <a class="mr-2" href="#">{{ comment.user.username }}</a>
      <small class="text-muted">{{ comment.pitches }}</small>
    </div>
    <p class="article-content">{{ comment.post_comment }}</p>
  </div>

</article>
{% endfor %}

</div>
{% endblock content %}
